<div>
    <div class="layui-inline">
        <input placeholder="用户名" class="layui-input" name="id" id="demoReload" autocomplete="off" />
    </div>
    <div class="layui-inline">
        <button id="search" class="layui-btn">搜索</button>
    </div>
    <div class="layui-inline fr">
        <button id="addUser" class="layui-btn layui-btn-normal ">新增用户</button>
    </div>
</div>

<table lay-filter="demo" lay-data="{id: 'user',height: 'full-200'}">
    <thead>
    <tr>
        <th lay-data="{checkbox:true}"></th>
        <th lay-data="{field:'userId'}">ID</th>
        <th lay-data="{field:'accountName'}">用户名</th>
        <th lay-data="{templet: '#operation'}">操作</th>
    </tr>
    </thead>
</table>

<script type="text/html" id="operation">
    <a href="javascript:;" class="layui-btn layui-btn-sm layui-btn-normal">编辑</a>
    <a href="javascript:;" class="layui-btn layui-btn-sm layui-btn-danger">删除</a>
</script>
<script type="text/javascript">
    $(function () {
        layui.use('table', function(){
            var table = layui.table;

            //第一个实例
            table.init('demo',{
                url: '/users' //数据接口
                ,page: true //开启分页
                , skin: 'row'
                , even: true
                ,where: {userId: 123}
            });

            $("#search").click(function () {
                table.reload('user',{
                    where: { //设定异步数据接口的额外参数，任意设
                        userId: 555
                    }
                });
            });

        });
        
        $("#addUser").click(function () {
            $("#contentDiv").load('/admin/user/add');
        });
    });
</script>

