<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <title>Study</title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}"/>
    <link rel="stylesheet" th:href="@{/sweetAlert/css/sweetalert.css}"/>
    <link rel="stylesheet" th:href="@{/css/common.css}"/>
    <link th:href="@{//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css}" rel="stylesheet"/>
</head>
<body class="pd15">
<div id="searchDiv" class="form-inline">
    <form action="#" id="searchForm">
        <div class="editable-input" style="position: relative">
            <input name="commonName" class="form-control" placeholder="商品名称" />
            <span class="editable-clear-x js-inputClear"></span>
        </div>
        <div class="editable-input" style="position: relative">
            <input name="goodsFactory" class="form-control" placeholder="厂家" />
            <span class="editable-clear-x js-inputClear"></span>
        </div>
        <div class="editable-input" style="position: relative">
            <input name="userSupperName" class="form-control" placeholder="供应商" />
            <span class="editable-clear-x js-inputClear"></span>
        </div>
        <button class="btn btn-primary" id="search" type="button">搜索</button>
        <button class="btn btn-warning" id="reset" type="reset">清空</button>
    </form>
</div>
<div style="width: 80%">
    <table id="buyPlanTable" data-show-columns="true"></table>
</div>


<link rel="stylesheet" data-th-href="@{/bootstrap/css/bootstrap.css}"/>
<link rel="stylesheet" data-th-href="@{/bootstrap-table/bootstrap-table.min.css}"/>
<link rel="stylesheet" data-th-href="@{/bootstrap-table/sticky-header/bootstrap-table-sticky-header.css}"/>
<link rel="stylesheet" data-th-href="@{/bootstrap-table/bootstrap3-editable/css/bootstrap-editable.css}"/>
<link rel="stylesheet" data-th-href="@{/bootstrap-table/fixed-columns/bootstrap-table-fixed-columns.css}"/>
<script th:src="@{/webjars/jquery/2.1.4/jquery.js}"/>
<script data-th-src="@{/bootstrap/js/bootstrap.min.js}"/>
<script data-th-src="@{/bootstrap-table/bootstrap-table.min.js}"/>
<script data-th-src="@{/bootstrap-table/sticky-header/bootstrap-table-sticky-header.js}"/>
<script data-th-src="@{/bootstrap-table/bootstrap-table-locale-all.min.js}"/>
<script data-th-src="@{/bootstrap-table/bootstrap3-editable/js/bootstrap-editable.min.js}"/>
<script data-th-src="@{/bootstrap-table/editable/bootstrap-table-editable.js}"/>
<script data-th-src="@{/bootstrap-table/resizable/bootstrap-table-resizable.js}"/>
<script data-th-src="@{/bootstrap-table/resizable/colResizable-1.6.js}"/>
<script data-th-src="@{/bootstrap-table/fixed-columns/bootstrap-table-fixed-columns.js}"/>
<script data-th-src="@{/js/buyPlan/buyPlan.js}"/>
</body>
</html>

