<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.buyPlan.mapper.BuyPlanItemTempMapper">

	<!-- 开启二级缓存 -->
	<cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.study.buyPlan.entity.BuyPlanItemTemp">
		<id column="buyPlanItemId" property="buyPlanItemId" />
		<result column="buyPlanId" property="buyPlanId" />
		<result column="directoryId" property="directoryId" />
		<result column="goodsId" property="goodsId" />
		<result column="commonName" property="commonName" />
		<result column="goodsSpec" property="goodsSpec" />
		<result column="goodsUtil" property="goodsUtil" />
		<result column="goodsFactory" property="goodsFactory" />
		<result column="userBuyerId" property="userBuyerId" />
		<result column="userSupperId" property="userSupperId" />
		<result column="userSupperName" property="userSupperName" />
		<result column="goodsPrice" property="goodsPrice" />
		<result column="planNum" property="planNum" />
		<result column="itemAmount" property="itemAmount" />
		<result column="createUserId" property="createUserId" />
		<result column="createDate" property="createDate" />
		<result column="monthUsed" property="monthUsed" />
		<result column="storageNum" property="storageNum" />
		<result column="sellPrice" property="sellPrice" />
		<result column="lastNo" property="lastNo" />
		<result column="remark" property="remark" />
	</resultMap>

</mapper>
