<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 用户账户表 @author chengyin @since 2017-11-29  -->
<mapper namespace="com.study.user.dao.UserDao">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.study.user.entity.User">
		<id column="userId" property="userId" />
		<result column="realName" property="realName" />
		<result column="accountName" property="accountName" />
		<result column="password" property="password" />
		<result column="deleteStatus" property="deleteStatus" />
		<result column="locked" property="locked" />
		<result column="description" property="description" />
		<result column="salt" property="salt" />
		<result column="creatorId" property="creatorId" />
		<result column="createTime" property="createTime" />
		<result column="updateTime" property="updateTime" />
		<result column="deptId" property="deptId" />
		<result column="img" property="img" />
		<result column="email" property="email" />
		<result column="remark" property="remark" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
		t.userId as userId,
		t.realName as realName,
		t.accountName as accountName,
		t.password as password,
		t.deleteStatus as deleteStatus,
		t.locked as locked,
		t.description as description,
		t.salt as salt,
		t.creatorId as creatorId,
		t.createTime as createTime,
		t.updateTime as updateTime,
		t.deptId as deptId,
		t.img as img,
		t.email as email,
		t.remark as remark
    </sql>


	<!-- 用户账户表 分页查询 -->
	<select id="listPage" parameterType="com.study.user.entity.User" resultMap="BaseResultMap">
		SELECT <include refid="Base_Column_List"/> FROM user t
	</select>

</mapper>
